/* =========================
   MAIN CONTENT
   ========================= */

.main-content {
  margin-left: 360px;
  width: calc(100% - 360px);
  padding: 40px;
  background-color: #f5f6f8;
  min-height: 100vh;
}